# Copy (chmod 664) to /etc/systemd/system/akros-dns.service
#
# systemctl daemon-reload
# systemctl start akros-dns
# systemctl status akros-dns
# systemctl enable akros-dns
#
# podman pull quay.io/wcaban/bind
# mkdir -pv /opt/bind/named

[Unit]
Description=Bind DNS Server
After=network.target syslog.target

[Service]
Type=simple
TimeoutStartSec=5m
ExecStartPre=-/usr/bin/podman rm "akros-dns"

ExecStart=/usr/bin/podman run --name akros-dns -p 53:53/udp \
    -v /opt/bind/named.conf:/etc/named.conf:ro \
    -v /opt/bind/named.master.zone:/etc/named/named.master.zone:ro \
    -v /opt/bind/named.in-addr.arpa.zone:/etc/named/named.in-addr.arpa.zone:ro \
    -v /opt/bind/forward-dns.zone:/var/lib/named/forward-dns.zone:ro \
    -v /opt/bind/reverse-dns.zone:/var/lib/named/reverse-dns.zone:ro \
    quay.io/wcaban/bind

ExecReload=-/usr/bin/podman stop "akros-dns"
ExecReload=-/usr/bin/podman rm   "akros-dns"
ExecStop=-/usr/bin/podman   stop "akros-dns"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
